name: setup-node
description: "Setup Node.js- Cache dependencies- Install dependencies"
runs:
  using: "composite"
  steps:
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Cache dependencies
      id: cache_dependencies
      uses: actions/cache@v3
      with:
        path: node_modules
        key: yarn-cache-${{ hashFiles('app/yarn.lock') }}

    - name: Install dependencies
      shell: bash
      if: steps.cache_dependencies.outputs.cache-hit != 'true'
      run: |
        cd app
        yarn install --frozen-lockfile
